@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    123 Fake Street<br />
    Not a real city, Fake State<br />
    <abbr title="Phone">P:</abbr>
    555-555-5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@hell.invalid">Support@thereisnosupport.invalid</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hell.invalid">Marketing@thereisnomarketing.invalid</a>
</address>
